.matrix-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.matrix-content {
  display: flex;
}

.city {
  width: 70px !important;
}

.path {
  display: flex;
  flex-direction: row;
  padding: 0 150px;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  justify-content: space-between;
}